@import 'nib'

.gameboard-column
  user-select none
  display inline-block
  background-color #ddd
  
  &.hovered
    background-color #ccc
    
    .shadow:not(:last-child)
      transition none
      background-color #ccc