@import 'nib'

body.desktop .gameboard-column:hover
.gameboard-column.hovered

  .shadow:not(:last-child)
    transition none
    background-color #ccc

.gameboard-column
  user-select none
  display inline-block
      
  .shadow
    transition background-color 1500ms
  