body.in-game
  #splashscreen
    opacity 0
    transform translate(0, -60px)
    
body:not(.in-game)
  #splashscreen
    #gameboard
      opacity 1

#splashscreen
  z-index -1
  fullSize()
  background-color #eee
  transition transform 700ms $ease, opacity 700ms

  #gameboard
    pointer-events none
    
  #gameboard-surface
    display none
  
  .gameboard-tile
  .gameboard-tile .shadow
    background-color #eee