@import 'nib'

body
  margin 0
  background-color #ddd
  overflow hidden
  
  -webkit-user-select none
          user-select none
  
  #log
    absolute top 5px left 5px
  
@keyframes bounce {
  0% {transform:translateY(0px);}
  0.83% {transform:translateY(0.5252px);}
  1.67% {transform:translateY(2.1007px);}
  2.5% {transform:translateY(4.7266px);}
  3.33% {transform:translateY(8.4028px);}
  4.17% {transform:translateY(13.1293px);}
  5% {transform:translateY(18.9063px);}
  5.83% {transform:translateY(25.7335px);}
  6.67% {transform:translateY(33.6111px);}
  7.5% {transform:translateY(42.5391px);}
  8.33% {transform:translateY(52.5174px);}
  9.17% {transform:translateY(63.546px);}
  10% {transform:translateY(75.625px);}
  10.83% {transform:translateY(88.7543px);}
  11.67% {transform:translateY(102.934px);}
  12.5% {transform:translateY(118.1641px);}
  13.33% {transform:translateY(134.4444px);}
  14.17% {transform:translateY(151.7752px);}
  15% {transform:translateY(170.1562px);}
  15.83% {transform:translateY(189.5877px);}
  16.67% {transform:translateY(210.0694px);}
  17.5% {transform:translateY(231.6016px);}
  18.33% {transform:translateY(254.184px);}
  19.17% {transform:translateY(277.8168px);}
  20% {transform:translateY(302.5px);}
  20.83% {transform:translateY(328.2335px);}
  21.67% {transform:translateY(355.0174px);}
  22.5% {transform:translateY(382.8516px);}
  23.33% {transform:translateY(411.7361px);}
  24.17% {transform:translateY(441.671px);}
  25% {transform:translateY(472.6563px);}
  25.83% {transform:translateY(504.6918px);}
  26.67% {transform:translateY(537.7778px);}
  27.5% {transform:translateY(571.9141px);}
  28.33% {transform:translateY(607.1007px);}
  29.17% {transform:translateY(643.3377px);}
  30% {transform:translateY(680.625px);}
  30.83% {transform:translateY(718.9627px);}
  31.67% {transform:translateY(758.3507px);}
  32.5% {transform:translateY(798.7891px);}
  33.33% {transform:translateY(840.2778px);}
  34.17% {transform:translateY(882.8168px);}
  35% {transform:translateY(926.4062px);}
  35.83% {transform:translateY(971.046px);}
  36.67% {transform:translateY(991.7361px);}
  37.5% {transform:translateY(969.7266px);}
  38.33% {transform:translateY(948.7674px);}
  39.17% {transform:translateY(928.8585px);}
  40% {transform:translateY(910px);}
  40.83% {transform:translateY(892.1918px);}
  41.67% {transform:translateY(875.434px);}
  42.5% {transform:translateY(859.7266px);}
  43.33% {transform:translateY(845.0694px);}
  44.17% {transform:translateY(831.4627px);}
  45% {transform:translateY(818.9063px);}
  45.83% {transform:translateY(807.4002px);}
  46.67% {transform:translateY(796.9444px);}
  47.5% {transform:translateY(787.5391px);}
  48.33% {transform:translateY(779.184px);}
  49.17% {transform:translateY(771.8793px);}
  50% {transform:translateY(765.625px);}
  50.83% {transform:translateY(760.421px);}
  51.67% {transform:translateY(756.2674px);}
  52.5% {transform:translateY(753.1641px);}
  53.33% {transform:translateY(751.1111px);}
  54.17% {transform:translateY(750.1085px);}
  55% {transform:translateY(750.1563px);}
  55.83% {transform:translateY(751.2543px);}
  56.67% {transform:translateY(753.4028px);}
  57.5% {transform:translateY(756.6016px);}
  58.33% {transform:translateY(760.8507px);}
  59.17% {transform:translateY(766.1502px);}
  60% {transform:translateY(772.5px);}
  60.83% {transform:translateY(779.9002px);}
  61.67% {transform:translateY(788.3507px);}
  62.5% {transform:translateY(797.8516px);}
  63.33% {transform:translateY(808.4028px);}
  64.17% {transform:translateY(820.0043px);}
  65% {transform:translateY(832.6563px);}
  65.83% {transform:translateY(846.3585px);}
  66.67% {transform:translateY(861.1111px);}
  67.5% {transform:translateY(876.9141px);}
  68.33% {transform:translateY(893.7674px);}
  69.17% {transform:translateY(911.671px);}
  70% {transform:translateY(930.625px);}
  70.83% {transform:translateY(950.6293px);}
  71.67% {transform:translateY(971.684px);}
  72.5% {transform:translateY(993.7891px);}
  73.33% {transform:translateY(991.9444px);}
  74.17% {transform:translateY(981.7752px);}
  75% {transform:translateY(972.6563px);}
  75.83% {transform:translateY(964.5877px);}
  76.67% {transform:translateY(957.5694px);}
  77.5% {transform:translateY(951.6016px);}
  78.33% {transform:translateY(946.684px);}
  79.17% {transform:translateY(942.8168px);}
  80%    {transform:translateY(940px);}
  80.83% {transform:translateY(938.2335px);}
  81.67% {transform:translateY(937.5174px);}
  82.5%  {transform:translateY(937.8516px);}
  83.33% {transform:translateY(939.2361px);}
  84.17% {transform:translateY(941.671px);}
  85%    {transform:translateY(945.1562px);}
  85.83% {transform:translateY(949.6918px);}
  86.67% {transform:translateY(955.2778px);}
  87.5%  {transform:translateY(961.9141px);}
  88.33% {transform:translateY(969.6007px);}
  89.17% {transform:translateY(978.3377px);}
  90%    {transform:translateY(988.125px);}
  90.83% {transform:translateY(998.9627px);}
  91.67% {transform:translateY(995.2257px);}
  92.5%  {transform:translateY(990.9766px);}
  93.33% {transform:translateY(987.7778px);}
  94.17% {transform:translateY(985.6293px);}
  95%    {transform:translateY(984.5313px);}
  95.83% {transform:translateY(984.4835px);}
  96.67% {transform:translateY(985.4861px);}
  97.5%  {transform:translateY(987.5391px);}
  98.33% {transform:translateY(990.6424px);}
  99.17% {transform:translateY(994.796px);}
  100%   {transform:translateY(1000px);}
}