meta(base="/")
meta(name="referrer" content="always")
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

style.
  @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Great+Vibes);
  
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="mobile-web-app-capable" content="yes")

link(href="app.css" rel="stylesheet")

body
  #log
  #gameboard-container
  #menu-container
  #splashscreen-container
    
script(src="app.js")
script require('app');
