body
  
  &.in-game
    
    #menu > #title
    #btn-play
    #btn-settings
      transition 700ms $ease !important
      transform translate(-200%) !important
      
    #btn-play
      transition-delay 0 !important
    
    #btn-settings
      transition-delay 100ms !important
      
    #title
      transition-delay 200ms !important
    
    #splashscreen
      pointer-events none
      opacity 0