.gameboard-tile
  position relative
  background #ddd
  
  .piece, .shadow
    position absolute
    border-radius 100%
  
  .piece
    absolute top left  
    margin-top -1000px
    
    &.p-0, &.p-1, &.p-2, &.p-3
      transform                 translateY(1000px)
      animation-name            bounce
      animation-duration        1000ms
      animation-iteration-count 1
      transform-origin          50%
      
    &.p-0
      background-color $red
      border 7px solid lighten($red, 20%)
      
    &.p-1
      background-color $blue
      border 7px solid lighten($blue, 20%)
      
    &.p-2
      background-color $green
      border 7px solid lighten($green, 20%)
      
    &.p-3
      background-color $orange
      border 7px solid lighten($orange, 20%)
      
  .shadow
    absolute top 5px left 5px
    background-color #eee
    transition 400ms $ease
    
    &.hovered
      transform scale(0.8)