#settings
  fullSize()
  background-color alpha(black, 0.5)

  &:before
    padding 5px 30px
  
  .container
  .title
  .option
    user-select none
    position relative
    
  .title
  .option
    display inline-block
    
  .container:first-child
    margin-top 7.5px
    
  .title
    margin 0 10px
    font-size 20px
    
  .option
    cursor pointer
    size 35px 55px
    font-size 60px
    transition 300ms
    
  #btn-ammend
    font-family 'Great Vibes', cursive
    transform none