#settings
  absolute top left
  size 100% 100%
  background-color alpha(black, 0.5)
  
  .container
  .title
  .option
    position relative
    
  .title
  .option
    display inline-block
    
  .title
    font-size 14px
    
  .option
    size 30px 30px