#settings
  fullSize()
  background-color alpha(black, 0.5)

  &:before
    padding 5px 30px
  
  .container
  .title
  .option
    user-select none
    position relative
    
  .title
  .option
    display inline-block
    
  .container:first-child
    margin-top 7.5px
    
  .title
    margin 0 10px
    font-size 20px
    
  .option
    cursor pointer
    size 35px 55px
    font-size 60px
    transition 300ms
    
    @media (max-width: 667px) 
      size 60px 55px
    
  #btn-ammend
    font-family 'Great Vibes', cursive
    transform none
    
  #btn-sound-state
    fixed bottom -250px right 100px
    font-size 30px
    width 100px
    
    &.on .sound-option:first-child
      opacity 1
      
    &.off .sound-option:last-child
      opacity 1
      
    .sound-option
      note()
      position absolute
      width 200px
      padding 8px 0
      opacity 0
      transition 400ms
    
    
      
