#settings
  transition opacity 300ms
  opacity 0
  pointer-events none
  
  &.active
    opacity 1
    pointer-events auto
  
  #num-connect
    &[data-num='3'] .option:nth-child(1) 
        background-color alpha(black, 0.1)
    &[data-num='4'] .option:nth-child(2) 
        background-color alpha(black, 0.1)
    &[data-num='5'] .option:nth-child(3) 
      background-color alpha(black, 0.1)
          
  #num-human-players
    &[data-num='1'] .option:nth-child(1)
        background-color alpha(black, 0.1)
    &[data-num='2'] .option:nth-child(2)
        background-color alpha(black, 0.1)
    &[data-num='3'] .option:nth-child(3)
        background-color alpha(black, 0.1)
    &[data-num='4'] .option:nth-child(4)
        background-color alpha(black, 0.1)
    &[data-num='5'] .option:nth-child(5)
        background-color alpha(black, 0.1)
        
  #num-computer-players
    &[data-num='0'] .option:nth-child(1)
        background-color alpha(black, 0.1)
    &[data-num='1'] .option:nth-child(2)
        background-color alpha(black, 0.1)
    &[data-num='2'] .option:nth-child(3)
        background-color alpha(black, 0.1)
    &[data-num='3'] .option:nth-child(4)
        background-color alpha(black, 0.1)