#settings
  transition opacity 300ms
  opacity 0
  pointer-events none
  
  &.active
    opacity 1
    pointer-events auto
  
  #num-connect
    for num in (3..5)
      &[data-num='num'] .option:nth-child(num-2) 
        background-color alpha(black, 0.1)
          
  #num-human-players
    for num in (1..4)
      &[data-num='num'] .option:nth-child(num)
        background-color alpha(black, 0.1)
        
  #num-computer-players
    for num in (0..3)
      &[data-num=num] .option:nth-child(num+1)
        background-color alpha(black, 0.1)