body:not(.in-game)
  #gameboard
    opacity 0
    transform translate(0, 60px)

#gameboard
  z-index 1
  absolute bottom 10px left
  transition opacity 400ms, transform 700ms $ease
  
  #current-player
    absolute top -100px left
    width 100%
    text-align center
    font-size 40px
    font-family Great Vibes
    opacity 0
    
    &.visible
      opacity 1