/* ---------------- */
/* Easing Curves
/* ---------------- */
$ease = cubic-bezier(0.075, 0.820, 0.165, 1.000)

/* ---------------- */
/* Colors 
/* ---------------- */
$red     = #e74c3c
$blue    = #3498db
$green   = #1abc9c
$orange  = #e67e22